@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import '~js-datepicker/dist/datepicker.min.css';

body, html {
  background: url('../images/van-image.jpg');
  height: 100%;
  background-size: cover;
  transition: all 500ms ease-in-out;
  overflow: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}


* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
} 


p, h1, h2, h3, h4, h5, h6 {
  font-size: 0.8vw;
  overflow-wrap: break-word;
  margin-left: 0.5em;
  padding: 0, 0.25em;
}

h1 {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 3vw;
}


nav, section {
  border-radius: 3px;
}

.nav-wrapper {
  display: flex;
  height: 20vh;
  justify-content: space-between;
  margin: 1rem;
}

.top-nav {
  height: 100%;
  width: 60%;
  border-left: 10px solid #1a4d81ee;
  background-color: #2064a7ee;
  display: flex;
}


.welcome-text {
  justify-content: space-around;
}

#travelTrackerText {
  padding-left: 160px;
  padding-top: 10px;
}

#welcomeName {
  font-size: 1.5rem;
  padding-bottom: 5px;
  font-family: 'Tenor Sans', sans-serif;
}

#spentText {
  font-size: 1rem;
  font-family: 'Tenor Sans', sans-serif;
}

.airplane-logo {
  padding-top: 60px;
  padding-left: 10px;
  padding-right: 10px;
}

.info {
  display: flex;
  align-items: center;
  width: 62%;
  padding: .5vw;
}

.welcome-nav, .info, .past-trips-box, .present-trips-box, .upcoming-trips-box, .pending-trips-box {
  background-color: rgba(206, 191, 191, 0.945);
  box-shadow: 2.0px 6.0px 6.0px hsl(0deg 0% 0% / 0.10);
}

.info {
  width: 35%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.box-wrapper {
  display: flex;
  width: 100vw;
  height: 65vh;
  justify-content: space-around;
}
.trips-text {
  font-size: 1.8rem;
  font-family: 'Tenor Sans', sans-serif;
  padding-bottom: 3vh;
  padding-top: 3vh;
}

.past-trips-box, .present-trips-box, .upcoming-trips-box, .pending-trips-box {
  display: flex;
  /* justify-content: space-around; */
  width: 23.5vw;
  height: 100%;
  border-top: 10px solid rgba(168, 156, 156, 0.945);
  flex-direction: column;
  align-items: center;
}

.past-trips-box > p, .present-trips-box > p, .upcoming-trips-box > p, .pending-trips-box > p {
  font-size: 1vw;
  margin: 0;
  justify-content: space-between;
}


.scrollable {
  height: 100%;
  overflow-y: auto;
}